

    <div class="home_activity">
        <p class="text">Activity <br> <span>Average</span></p>
        <p class="steps_number">6 h 40 min</p>
    </div>

    <div class="home_steps">
        <svg class="svg_img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0V0z" />
            <path
                d="M13.49 5.48c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm-3.6 13.9l1-4.4 2.1 2v6h2v-7.5l-2.1-2 .6-3c1.3 1.5 3.3 2.5 5.5 2.5v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1l-5.2 2.2v4.7h2v-3.4l1.8-.7-1.6 8.1-4.9-1-.4 2 7 1.4z" />
        </svg>
<<<<<<< HEAD
        <p class="text">Steps <br> <span class="span_total">Total</span></p>
        <p class="steps_number">{{sumSteps | number}}</p>
=======
        <p class="text">Steps <br> <span>Total</span></p>
        <p class="steps_number">7,540</p>
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
    </div>

    <div class="home_calories">
        <p><i class="fa fa-fire-alt"></i></p> 
        <p class="text">Calories <br> <span class="text_totalB">Total Burned</span></p>
<<<<<<< HEAD
        <p class="steps_number ">{{sumCalories | number}}</p>
=======
        <p class="steps_number ">340</p>
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
    </div>
