<<<<<<< HEAD
<div class="details_screen">

    <div class="details_steps">

        <div class="details_circle"></div>
        <div class="details_fill">
                <svg class="svg_steps" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" d="M0 0h24v24H0V0z" />
                    <path
                        d="M13.49 5.48c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm-3.6 13.9l1-4.4 2.1 2v6h2v-7.5l-2.1-2 .6-3c1.3 1.5 3.3 2.5 5.5 2.5v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1l-5.2 2.2v4.7h2v-3.4l1.8-.7-1.6 8.1-4.9-1-.4 2 7 1.4z" />
                </svg>
                <p class="d_c-top">Steps</p>
                <p class="d_c-bottom">{{dataLS[1]}}</p>

        </div>
       
    </div>

    <div class="details_comment">

        <p class="d_c-top">Very good</p>
        <p class="d_c-bottom">Keep going!</p>
    </div>

    <div class="details_time">
        <div class="details_nav">
            <ul>
                <li class="details_list">km <br> <span class="span_list">{{arrayKilometers[1] | number: 2}}</span></li>
                <li class="details_list">cal <br> <span class="span_list">{{arrayCalories[1] | number: 2}}</span></li>
                <li class="details_list">hours <br> <span class="span_list">{{arrayTime[1] | number: 2}}</span></li>
            </ul>
        </div>

   

    </div>
</div>
=======
{{messTue}}
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
