@import "_reset";
<<<<<<< HEAD
@import "variables";
@import "mixins";
=======
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5



.black{
<<<<<<< HEAD
    color: $color10;
=======
    color: black;
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
}


.template_home{
<<<<<<< HEAD
    font-family: Arial, Helvetica, sans-serif; 
    margin:  0 auto;

    @include position(linear-gradient($color3, $color2), $position1, 375px, 812px );
=======
    background: linear-gradient(#34C7A0, #008AA2);
    width: 375px;
    height: 812px;
    font-family: Arial, Helvetica, sans-serif; 
    position: relative;
    margin:  0 auto;
 
   
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
}


.home_container{
<<<<<<< HEAD
    margin: 15px;
    text-align: center;

    @include position($bg1, $position2, 90%, 95% );
=======
    position: absolute;
    text-align: center;
    background: transparent;
    width: 90%;
    height: 95%;
    margin: 15px;
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
}


.home_welcome{
<<<<<<< HEAD
    background: $color1;
=======
    background: #fff;
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
    position: absolute;
    width: 298px;
    border-radius: 25px;
    padding: 20px;
<<<<<<< HEAD
    line-height: $l_height1;
=======
    line-height: 1.5;
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
    text-align: left;
}


.home_title{
<<<<<<< HEAD
   
    @include textStyle($color4, 34pt, $f_weight1 );
=======
    color: #00B6A3;
    font-size: 34pt;
    font-weight: bold;
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
}


.home_subtitile{
<<<<<<< HEAD

    @include textStyle($color5, 16pt, $f_weight1);
=======
    color: #898694;
    font-size: 16pt;
    font-weight: bold;
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
}


.home_calendar{
<<<<<<< HEAD
=======
    background: transparent;
    position: absolute;
    width: 100%;
    height: 70px;
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
    margin-top: 180px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

<<<<<<< HEAD
    @include position($bg1, $position2, $width1, 70px );

=======
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
}


.home_date{
<<<<<<< HEAD
    box-sizing: border-box;
    background:  $color9;
    border-radius: 30%;
    font-size: 16px;
    padding: 15px;
    margin: 5px;
    text-align: center;

    &:hover{
        background: $color1; 
    }
    
    &:active{
        background: $color8;
        color: $color5;
    }
    
   
}

a{
    text-decoration: none;
    color: $color1;
}



.home_date a{
    color: $color1;

    &:hover{
         color: $color9;
}}






.home_chalenge{
    margin-top: 270px;
    color: $color1;
    fill: #fff;

    @include position($bg1, $position2, $width1, 700px );
}


.home_activity{
    border-radius: 25px;

    @include position($color7, $position2, $width1, 150px);
=======
    background: #9ae5d1;
    border-radius: 30%;
    font-size: 16pt;
    padding: 5px;
    margin: 5px;
    text-align: center;
    
}


a{
    text-decoration: none;
    color: #fff;
}

.home_chalenge{
    position: absolute;
    background: transparent;
    width: 100%;
    margin-top: 270px;
    height: 700px;
    color: #fff;
    fill: #fff;
}




.home_activity{
    background: #9ae5d1;
    width: 100%;
    height: 150px;
    position: absolute;
    border-radius: 25px;
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
    
}


.home_steps{
<<<<<<< HEAD
=======
    background: #9ae5d1;
    width: 100%;
    height: 100px;
    position: absolute;
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
    margin-top: 180px;
    border-radius: 25px;
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-content: space-around;
<<<<<<< HEAD
    line-height: $l_height1;

    @include position($color7, $position2, $width1, $height1 );
=======
    line-height: 1.5;
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
   
}

.steps_number{
    padding: 15px;
    font-size: 38px;
<<<<<<< HEAD
    font-weight: $f_weight1;
=======
    font-weight: 700;
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
    margin-left: 20px;
    margin-right: -100px;
}

.svg_img{
<<<<<<< HEAD
    background: $color6;
=======
    background: #c2efe3;
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
    border-radius: 50px;
    padding: 5px;
    margin-left: 20px;
    margin-top: 25px;
}

<<<<<<< HEAD

.svg_steps{
    background: $color6;
    border-radius: 50px;
    padding: 5px;
    margin-top: 15px;
}

=======
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
.text{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 20px;
    text-align: left;
}

<<<<<<< HEAD

.span_total{
    color: $color6;
   
}

.home_calories{
=======
/*
.text_cal{
    font-size: 20px;
    text-align: left;
}
*/
span{
    color: #c2efe3
}



.home_calories{
    background: #9ae5d1;
    width: 100%;
    height: 100px;
    position: absolute;
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
    margin-top: 310px;
    border-radius: 25px;
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-content: space-around;
<<<<<<< HEAD
    line-height: $l_height1;

    @include position($color7, $position2, $width1, $height1 );
=======
    line-height: 1.5;
>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
}

.text_totalB{
    font-size: 13px;
<<<<<<< HEAD
    color: $color6;
   
}

.details_screen{
    border-radius: 30px 30px 0 0;
    line-height: $l_height1;
    text-align: center;
    
    @include position($color1, $position2, $width1, 527px );
}


.details_steps{
    margin: 20px 70px 20px 70px;
    text-align: center;
    box-sizing: border-box;

    @include position($color1, $position2, 200px, 200px);
    @include textStyle($color10, 32px, $f_weight1 );
}

.details_circle{
    width: 200px;
    height: 200px;
    background: $color1;
    border-radius: 50%;
    box-sizing: border-box;
    border-style: solid;
    border-width: 7px;
    border-color: $color9 $color7 $color9 $color9;
    animation: circle1 5s linear infinite;
}


.details_fill{
    top: 10px;
    left: 10px;
    border-radius: 50%;
    box-sizing: border-box;

    @include position($color1, $position2, calc(200px - 20px), calc(200px - 20px));
}

.details_comment{
    box-sizing: border-box;
    top: 230px;
    color: $color10;

    @include position($color1, $position2, $width1, $height1);
}


.d_c-top{
    
    @include textStyle($color10, 22px, $f_weight2);
}

.d_c-bottom{

    @include textStyle($color10, 34px, $f_weight1);
}


.details_time{
    top: 350px;

    @include position($color1, $position2, $width1, 177px);
}

.details_nav{
    float: left;
    width: $width1;
}

.details_nav ul li{
    box-sizing: border-box;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 2;
    text-align: center;
}

.details_nav ul li:not(:first-child){
    border-left: 2px solid $color8;
}

.details_list{
  
    @include textStyle($color8, 25px, $f_weight2);
}

.span_list{
   
    @include textStyle($color9, 35px, $f_weight1);
}





@keyframes circle1{
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
=======
}


>>>>>>> de29a40af0bceec734fdd6796c4472ed3602f8f5
