$color1: #fff;
$color2: #008AA2;
$color3: #34C7A0;
$color4: #00B6A3;
$color5: #898694;
$color6: #c2efe3;
$color7: #9ae5d1;
$color8: #ebebeb;
$color9: #00ccb8;
$color10: #000;

$bg1: transparent;

$width1: 100%;

$height1: 100px;

$f_weight1: 700;
$f_weight2: 400;

$l_height1: 1.5;

$position1: relative;
$position2: absolute;